/* Main Body */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=VT323&display=swap');

@page {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
body {
    color: #333333;
    margin: 0;
    font-family: VT323, Rajdhani, Nunito;
    font-weight: normal;
    font-size: 9pt;
    line-height: 100%;
}
h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0;
}
h1 {
    font-size: 16pt;
    margin: 5mm 0;
}
h2 {
    font-size: 14pt;
}
h3, h4 {
    font-size: 9pt;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li,
ul {
    margin-bottom: 0.75em;
}
p {
    margin: 0;
    padding: 0;
}
p + p {
    margin-top: 1.25em;
}
a {
    border-bottom: 1px solid;
    text-decoration: none;
}
#watermark {
    position: fixed;
    top: -50px;
    left:     -50px;
    width:    21cm;
    height:   29.7cm;
    z-index:  -1000;
}

/**
Certificate Content
 */
.certificate-content{
    font-size: 32px;
}
.certificate-wrap {
    border: 0px solid red;
    width: 560px;
    margin-top: 60px;
    margin-left: 65px;
}
.certificate-content h1{
    text-align: center;
    font-size: 65px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 60px;
    color: #8B3536;
    font-family: VT323, Rajdhani, Nunito;
}
.certificate-content h2 {
    text-align: center;
    font-size: 62px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 50px;
    line-height: 30px;
    color: #8B3536;
    font-family: VT323, Rajdhani, Nunito;
}
.certificate-content h3 {
    text-align: center;
    font-size: 52px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 30px;
    font-family: VT323, Rajdhani, Nunito;
    text-transform: uppercase;
}
.certificate-content p{
    text-align: center;
    line-height: 42px;
}
.certificate-footer{
    font-family: Rajdhani, Nunito;
    margin-top: 75px;
}
.certificate-footer p{
    font-size: 18px;
}
table td.first-col{
    border: 0px solid blue;
    width: 400px;
}
table td.last-col{
    border: 0px solid green;
    text-align: right;
    /* width: 175px; */
}
.certificate-author-name{
    border-top: 1px solid #333333;
    padding-top: 10px;
}
.signature-wrap img{
    max-width: 150px;
    max-height: 65px;
    height: auto;
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 400px;
    height: auto;
    margin: 50px;
}
/* page numbers */
.pagenum:before {
    content: counter(page);
}
.pagenum,.pagecount {
    font-family: sans-serif;
}
