[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/coders-school/LoveIt.git
[submodule "content/wiki"]
	path = content/wiki
	url = https://github.com/coders-school/cpp_wiki.git
